# Abebooks

___

In [1]:
import pandas as pd
import os
import glob
import mysql.connector

In [2]:
os.chdir("C:\Adrian - GDrive\Professionnel\Formation\Informatique - Digital\Data University\Projet certification\src\\abebooks")

df = pd.DataFrame(columns=[], index=[])

for file in glob.glob("*.txt"):
    #print(file)
    csv = pd.read_csv(file, sep="\t")
    df = df.append(csv, ignore_index=True)

df.shape

(3750, 16)

In [3]:
df.columns

Index(['N° de commande Abebooks', 'Programme', 'Option d'achat',
       'Votre n° de référence', 'Auteur', 'Titre', 'Prix du livre (EUR)',
       'Frais de port (EUR)', 'Paiements pour vos ventes (brut) (EUR)',
       'Commissions Abebooks (EUR)',
       'Frais de prestataire de paiement externe (EUR)',
       'Frais de prestataire de paiement externe (pour cent)',
       'Paiements pour vos ventes (net) (EUR)', 'Date de traitement',
       'Date du retour', 'Unnamed: 15'],
      dtype='object')

In [4]:
df = df.drop(columns=['N° de commande Abebooks', 'Programme', "Option d'achat",
       'Auteur', 'Titre',
       'Frais de port (EUR)', 'Paiements pour vos ventes (brut) (EUR)',
       'Commissions Abebooks (EUR)',
       'Frais de prestataire de paiement externe (EUR)',
       'Frais de prestataire de paiement externe (pour cent)',
       'Paiements pour vos ventes (net) (EUR)',
       'Date du retour', 'Unnamed: 15'])

In [5]:
df.shape

(3750, 3)

In [6]:
df.head()

  Votre n° de référence Prix du livre (EUR) Date de traitement
0            RO10078500              -46,16         31/07/2019
1            R240146799               45,80         01/08/2019
2            RO30312733               35,80         01/08/2019
3            R110487848               30,90         01/08/2019
4            RO80209687               55,50         01/08/2019

In [7]:
df.dtypes

Votre n° de référence    object
Prix du livre (EUR)      object
Date de traitement       object
dtype: object

In [8]:
df['Date de traitement'] = pd.to_datetime(df['Date de traitement'], format='%d/%m/%Y')

In [9]:
df = df[df["Prix du livre (EUR)"] > "0"]
df

     Votre n° de référence Prix du livre (EUR) Date de traitement
1               R240146799               45,80         2019-08-01
2               RO30312733               35,80         2019-08-01
3               R110487848               30,90         2019-08-01
4               RO80209687               55,50         2019-08-01
5               RO40124703               25,80         2019-08-01
...                    ...                 ...                ...
3745            RO80214439               20,90         2019-03-31
3746            RO80214438               35,80         2019-03-31
3747            R150179069               25,80         2019-03-31
3748            R320114014               35,80         2019-03-31
3749            RO20207647               35,80         2019-03-31

[3617 rows x 3 columns]

In [10]:
df["Prix du livre (EUR)"] = df["Prix du livre (EUR)"].str.replace(",",".").str.replace(" ", "").str.replace("\xa0", "").astype(float)

In [11]:
df.sort_values(by="Prix du livre (EUR)")

     Votre n° de référence  Prix du livre (EUR) Date de traitement
414             R320096990                11.25         2019-08-28
482             R160028048                13.00         2019-04-02
488             R160028045                13.00         2019-04-02
1042            RO90042923                13.00         2019-02-08
483             R160028069                13.00         2019-04-02
...                    ...                  ...                ...
2059            RO30104851               605.00         2019-07-07
392             R160112358               605.00         2019-08-27
1074            R260227837               905.00         2019-02-10
810             RO40111821              1005.00         2019-04-22
2200            RO80115561              1006.00         2019-07-18

[3617 rows x 3 columns]

In [12]:
os.chdir("C:\Adrian - GDrive\Professionnel\Formation\Informatique - Digital\Data University\Projet certification\csv")

df.to_csv("1-abebooks.csv", index=False)