# Amazon

___

In [16]:
import pandas as pd
import os
import glob

In [17]:
os.chdir("C:\Adrian - GDrive\Professionnel\Formation\Informatique - Digital\Data University\Projet certification\src\\amazon")

df = pd.DataFrame(columns=[], index=[])

for file in glob.glob("*.txt"):
    #print(file)
    csv = pd.read_csv(file, sep="\t")
    df = df.append(csv, ignore_index=True)

df.shape

(5126, 38)

In [18]:
df.columns

Index(['order-id', 'order-item-id', 'purchase-date', 'payments-date',
       'buyer-email', 'buyer-name', 'buyer-phone-number', 'sku',
       'product-name', 'quantity-purchased', 'currency', 'item-price',
       'item-tax', 'shipping-price', 'shipping-tax', 'ship-service-level',
       'recipient-name', 'ship-address-1', 'ship-address-2', 'ship-address-3',
       'ship-city', 'ship-state', 'ship-postal-code', 'ship-country',
       'ship-phone-number', 'bill-address-1', 'bill-address-2',
       'bill-address-3', 'bill-city', 'bill-state', 'bill-postal-code',
       'bill-country', 'delivery-start-date', 'delivery-end-date',
       'delivery-time-zone', 'delivery-Instructions', 'sales-channel',
       'bill-name'],
      dtype='object')

In [19]:
df = df.drop(columns=['order-id', 'order-item-id', 'payments-date', 'buyer-email', 'buyer-name', 'buyer-phone-number', 'product-name', 'quantity-purchased', 'currency', 'item-tax', 'shipping-price', 'shipping-tax', 'ship-service-level', 'recipient-name', 'ship-address-1', 'ship-address-2', 'ship-address-3', 'ship-city', 'ship-state', 'ship-postal-code', 'ship-phone-number', 'bill-address-1', 'bill-address-2', 'bill-address-3', 'bill-city', 'bill-state', 'bill-postal-code','bill-country', 'delivery-start-date', 'delivery-end-date',       'delivery-time-zone', 'delivery-Instructions', 'sales-channel', 'bill-name'])

In [20]:
df.shape

(5126, 4)

In [21]:
df.dtypes

purchase-date     object
sku               object
item-price       float64
ship-country      object
dtype: object

In [22]:
df['purchase-date'] = pd.to_datetime(df['purchase-date'].astype(str).str.slice(0,10), format='%Y-%m-%d')
df.head()

  purchase-date         sku  item-price ship-country
0    2018-12-30  R160155906       48.80           BE
1    2018-12-30  R300096475       68.25           FR
2    2018-12-30  RO40173817       48.80           FR
3    2018-12-30  RO70122932       23.90           FR
4    2018-12-31  R200013506       19.95           FR

In [23]:
os.chdir("C:\Adrian - GDrive\Professionnel\Formation\Informatique - Digital\Data University\Projet certification\src")
df_country = pd.read_csv("sql-pays.csv")
df_country

      Id  Code Alpha2 Alpha3             nom_fr_fr              nom_en_gb
0      1     4     AF    AFG           Afghanistan            Afghanistan
1      2     8     AL    ALB               Albanie                Albania
2      3    10     AQ    ATA           Antarctique             Antarctica
3      4    12     DZ    DZA               Algérie                Algeria
4      5    16     AS    ASM     Samoa Américaines         American Samoa
..   ...   ...    ...    ...                   ...                    ...
236  237   876     WF    WLF      Wallis et Futuna      Wallis and Futuna
237  238   882     WS    WSM                 Samoa                  Samoa
238  239   887     YE    YEM                 Yémen                  Yemen
239  240   891     CS    SCG  Serbie-et-Monténégro  Serbia and Montenegro
240  241   894     ZM    ZMB                Zambie                 Zambia

[241 rows x 6 columns]

In [24]:
df = df.merge(df_country, left_on='ship-country', right_on='Alpha2')
df.columns

Index(['purchase-date', 'sku', 'item-price', 'ship-country', 'Id', 'Code',
       'Alpha2', 'Alpha3', 'nom_fr_fr', 'nom_en_gb'],
      dtype='object')

In [27]:
df = df.drop(columns=['ship-country', 'Id', 'Code', 'Alpha2', 'Alpha3', 'nom_fr_fr'])
df

     purchase-date         sku  item-price  nom_en_gb
0       2018-12-30  R160155906       48.80    Belgium
1       2019-01-02  RO40224112       23.90    Belgium
2       2019-01-02  RO40224111       23.90    Belgium
3       2019-01-03  R150229289       19.95    Belgium
4       2019-01-03  RO30038810       23.90    Belgium
...            ...         ...         ...        ...
5121    2019-11-22  ROD0034309       23.90    Algeria
5122    2019-12-10  RO20192067       38.80    Vietnam
5123    2019-12-29  RO60113335       38.80   Slovenia
5124    2020-01-04  R260151413       38.80     Turkey
5125    2020-01-13  R160088706       19.95  Lithuania

[5126 rows x 4 columns]

In [28]:
os.chdir("C:\Adrian - GDrive\Professionnel\Formation\Informatique - Digital\Data University\Projet certification\csv")

df.to_csv("1-amazon.csv", index=False)