# eBay

---

In [2]:
import pandas as pd
import os
import glob

In [3]:
os.chdir("C:\Adrian - GDrive\Professionnel\Formation\Informatique - Digital\Data University\Projet certification\src\\ebay")

df_raw = pd.DataFrame(columns=[], index=[])

for file in glob.glob("*.csv"):
    #print(file)
    csv = pd.read_csv(file, sep=";", encoding='latin-1')
    df_raw = df_raw.append(csv, ignore_index=True)

df_raw.shape

(2142, 49)

In [4]:
df = df_raw

In [5]:
df.columns

Index(['Numéro de la fiche de vente', 'Pseudo', 'Nom complet de l'acheteur',
       'E-mail de l'acheteur', 'Acheteur - Adresse 1', 'Acheteur - Adresse 2',
       'Ville', 'Région', 'Code postal', 'Pays', 'Code de la commande',
       'Numéro de l'objet', 'Code de la transaction ', 'Titre de l'objet',
       'Quantité', 'Prix de vente', 'Taux de TVA inclus',
       'Livraison et expédition', 'Assurance', 'Taxe perçue par eBay',
       'Prix total', 'Mode de paiement', 'Code de transaction PayPal',
       'Numéro de la facture', 'Date de facturation', 'Date de vente',
       'Date de la finalisation de l'achat', 'Payé le', 'Envoyé le',
       'Service de livraison', 'Évaluation laissée', 'Évaluation reçue',
       'Mes commentaires', 'Libellé personnalisé', 'Commentaires',
       'Type de code produit', 'Valeur de code produit', 'Product ID Value 2',
       'Détails des différentes versions', 'Code de référence produit',
       'Numéro de suivi ',
       'Code de référence pour la livraison internationale',
       'Adresse de livraison 1', 'Adresse de livraison 2',
       'Ville de livraison', 'Région de livraison', 'Code postal de livraison',
       'Pays de livraison', 'Téléphone'],
      dtype='object')

In [6]:
df = df.drop(columns=(["Numéro de la fiche de vente", "Pseudo", "Nom complet de l'acheteur", "E-mail de l'acheteur", "Acheteur - Adresse 1", "Acheteur - Adresse 2", "Ville", "Région", "Code postal", "Pays", "Code de la commande", "Numéro de l'objet", "Code de la transaction ", "Titre de l'objet", "Quantité", "Taux de TVA inclus", "Livraison et expédition", "Assurance", "Taxe perçue par eBay", "Prix total", "Mode de paiement", "Code de transaction PayPal", "Numéro de la facture", "Date de facturation", "Date de la finalisation de l'achat", "Payé le", "Envoyé le", "Service de livraison", "Évaluation laissée", "Évaluation reçue", "Mes commentaires", "Commentaires", "Type de code produit", "Valeur de code produit", "Product ID Value 2", "Détails des différentes versions", "Code de référence produit", "Numéro de suivi ", "Code de référence pour la livraison internationale", "Adresse de livraison 1", "Adresse de livraison 2", "Ville de livraison", "Région de livraison", "Code postal de livraison", "Téléphone"]))

In [7]:
df.head()

  Prix de vente Date de vente Libellé personnalisé      Pays de livraison
0     16,00 EUR    01-déc.-18           R160072377             États-Unis
1     20,00 EUR    01-déc.-18           ROD0059054  France métropolitaine
2     20,00 EUR    01-déc.-18           R200010391  France métropolitaine
3     25,00 EUR    02-déc.-18           RO20153259  France métropolitaine
4     55,00 EUR    02-déc.-18           RO30146771  France métropolitaine

In [8]:
df.dtypes

Prix de vente           object
Date de vente           object
Libellé personnalisé    object
Pays de livraison       object
dtype: object

In [9]:
df["Prix de vente"] = df["Prix de vente"].str.replace(",",".").str.replace(" ","").str.slice(0,-4).astype(float)
df.describe()

       Prix de vente
count    2142.000000
mean       39.526937
std        45.809470
min         7.000000
25%        20.900000
50%        30.900000
75%        45.800000
max      1506.000000

In [10]:
df['Date de vente'] = df['Date de vente'].str.replace("déc.","12").str.replace("janv.","01").str.replace("févr.","02").str.replace("mars","03").str.replace("avr.","04").str.replace("mai","05").str.replace("juin","06").str.replace("juil.","07").str.replace("août","08")
df['Date de vente'] = pd.to_datetime(df['Date de vente'], format="%d-%m-%y")
df

      Prix de vente Date de vente Libellé personnalisé      Pays de livraison
0              16.0    2018-12-01           R160072377             États-Unis
1              20.0    2018-12-01           ROD0059054  France métropolitaine
2              20.0    2018-12-01           R200010391  France métropolitaine
3              25.0    2018-12-02           RO20153259  France métropolitaine
4              55.0    2018-12-02           RO30146771  France métropolitaine
...             ...           ...                  ...                    ...
2137           16.9    2019-08-31           R260147914  France métropolitaine
2138           45.8    2019-08-31           RO80091170             États-Unis
2139           25.8    2019-08-31           R150169509  France métropolitaine
2140           20.9    2019-08-31           R300066307            Royaume-Uni
2141           25.8    2019-08-31           RO30147008  France métropolitaine

[2142 rows x 4 columns]

In [11]:
df["Pays de livraison"] = df["Pays de livraison"].str.replace("France métropolitaine","France")
df

      Prix de vente Date de vente Libellé personnalisé Pays de livraison
0              16.0    2018-12-01           R160072377        États-Unis
1              20.0    2018-12-01           ROD0059054            France
2              20.0    2018-12-01           R200010391            France
3              25.0    2018-12-02           RO20153259            France
4              55.0    2018-12-02           RO30146771            France
...             ...           ...                  ...               ...
2137           16.9    2019-08-31           R260147914            France
2138           45.8    2019-08-31           RO80091170        États-Unis
2139           25.8    2019-08-31           R150169509            France
2140           20.9    2019-08-31           R300066307       Royaume-Uni
2141           25.8    2019-08-31           RO30147008            France

[2142 rows x 4 columns]

In [12]:
os.chdir("C:\Adrian - GDrive\Professionnel\Formation\Informatique - Digital\Data University\Projet certification\src")
df_country = pd.read_csv("sql-pays.csv")
df_country

      Id  Code Alpha2 Alpha3             nom_fr_fr              nom_en_gb
0      1     4     AF    AFG           Afghanistan            Afghanistan
1      2     8     AL    ALB               Albanie                Albania
2      3    10     AQ    ATA           Antarctique             Antarctica
3      4    12     DZ    DZA               Algérie                Algeria
4      5    16     AS    ASM     Samoa Américaines         American Samoa
..   ...   ...    ...    ...                   ...                    ...
236  237   876     WF    WLF      Wallis et Futuna      Wallis and Futuna
237  238   882     WS    WSM                 Samoa                  Samoa
238  239   887     YE    YEM                 Yémen                  Yemen
239  240   891     CS    SCG  Serbie-et-Monténégro  Serbia and Montenegro
240  241   894     ZM    ZMB                Zambie                 Zambia

[241 rows x 6 columns]

In [13]:
df = df.merge(df_country, left_on='Pays de livraison', right_on='nom_fr_fr')
df.columns

Index(['Prix de vente', 'Date de vente', 'Libellé personnalisé',
       'Pays de livraison', 'Id', 'Code', 'Alpha2', 'Alpha3', 'nom_fr_fr',
       'nom_en_gb'],
      dtype='object')

In [14]:
df = df.drop(columns=['Pays de livraison', 'Id', 'Code', 'Alpha2', 'Alpha3', 'nom_fr_fr'])
df

      Prix de vente Date de vente Libellé personnalisé      nom_en_gb
0              16.0    2018-12-01           R160072377  United States
1              16.0    2018-12-13           R150181333  United States
2              20.0    2018-12-13           ROD0053606  United States
3              25.0    2018-12-14           R260129997  United States
4              16.0    2018-12-14           R150064126  United States
...             ...           ...                  ...            ...
2006           35.8    2019-07-03           R160203331         Sweden
2007           25.8    2019-07-22           RO40195546         Sweden
2008           51.8    2019-07-14                  NaN          Malta
2009           20.9    2019-07-27           RO70124551       Malaysia
2010           20.9    2019-07-29           R260171917        Iceland

[2011 rows x 4 columns]

In [19]:
df = df[df["Libellé personnalisé"].notna()]

In [20]:
os.chdir("C:\Adrian - GDrive\Professionnel\Formation\Informatique - Digital\Data University\Projet certification\csv")

df.to_csv("1-ebay.csv", index=False)