# A/ Concaténation des fichiers de ventes

In [20]:
import pandas as pd
import numpy as np
import os
import mysql.connector

In [21]:
os.chdir("C:\Adrian - GDrive\Professionnel\Formation\Informatique - Digital\Data University\Projet certification\csv")

In [22]:
df_abebooks = pd.read_csv("1-abebooks.csv")
df_amazon = pd.read_csv("1-amazon.csv")
df_ebay = pd.read_csv("1-ebay.csv")
df_fnac = pd.read_csv("1-fnac.csv")
df_lelivre = pd.read_csv("1-lelivre.csv")
df_leslibraires = pd.read_csv("1-leslibraires.csv")
df_rakuten = pd.read_csv("1-rakuten.csv")

In [23]:
df_abebooks["sale_source"] = "abebooks" 
df_amazon["sale_source"] = "amazon" 
df_ebay["sale_source"] = "ebay" 
df_fnac["sale_source"] = "fnac"
df_lelivre["sale_source"] = "lelivre"  
df_leslibraires["sale_source"] = "leslibraires" 
df_rakuten["sale_source"] = "rakuten"

In [24]:
print(df_abebooks.columns)
print(df_amazon.columns)
print(df_ebay.columns)
print(df_fnac.columns)
print(df_lelivre.columns)
print(df_leslibraires.columns)
print(df_rakuten.columns)

Index(['Votre n° de référence', 'Prix du livre (EUR)', 'Date de traitement',
       'sale_source'],
      dtype='object')
Index(['purchase-date', 'sku', 'item-price', 'nom_en_gb', 'sale_source'], dtype='object')
Index(['Prix de vente', 'Date de vente', 'Libellé personnalisé', 'nom_en_gb',
       'sale_source'],
      dtype='object')
Index(['Date de création', 'Prix total (TTC)', 'SKUs', 'nom_en_gb',
       'sale_source'],
      dtype='object')
Index(['purchase_date', 'sku', 'item_price', 'nom_en_gb', 'sale_source'], dtype='object')
Index(['Date de commande', 'Total TTC', 'sku', 'sale_source'], dtype='object')
Index(['Date commande', 'Réf. Vendeur', 'Mandat article EUR', 'sale_source'], dtype='object')

In [25]:
df_abebooks = df_abebooks.rename(columns={'Votre n° de référence': 'sku', 'Prix du livre (EUR)': 'item_price', 'Date de traitement': 'purchase_date'})
df_amazon = df_amazon.rename(columns={'purchase-date': 'purchase_date', 'nom_en_gb': 'ship_country', 'item-price': 'item_price'})
df_ebay = df_ebay.rename(columns={'Date de vente': 'purchase_date', 'nom_en_gb': 'ship_country', 'Prix de vente': 'item_price', 'Libellé personnalisé': 'sku'})
df_fnac = df_fnac.rename(columns={'Date de création': 'purchase_date', 'nom_en_gb': 'ship_country', 'Prix total (TTC)': 'item_price', 'SKUs': 'sku'})
df_lelivre = df_lelivre.rename(columns={'nom_en_gb': 'ship_country'})
df_leslibraires = df_leslibraires.rename(columns={'Date de commande': 'purchase_date', 'Total TTC': 'item_price'})
df_rakuten = df_rakuten.rename(columns={'Date commande': 'purchase_date', 'Mandat article EUR': 'item_price', "Réf. Vendeur":"sku"})

In [26]:
print(df_abebooks.shape)
print(df_amazon.shape)
print(df_ebay.shape)
print(df_fnac.shape)
print(df_lelivre.shape)
print(df_leslibraires.shape)
print(df_rakuten.shape)

(3617, 4)
(5126, 5)
(1971, 5)
(346, 5)
(3712, 5)
(292, 4)
(1806, 4)

In [27]:
print(df_abebooks.head())
print(df_amazon.head())
print(df_ebay.head())
print(df_fnac.head())
print(df_lelivre.head())
print(df_leslibraires.head())
print(df_rakuten.head())

sku  item_price purchase_date sale_source
0  R240146799        45.8    2019-08-01    abebooks
1  RO30312733        35.8    2019-08-01    abebooks
2  R110487848        30.9    2019-08-01    abebooks
3  RO80209687        55.5    2019-08-01    abebooks
4  RO40124703        25.8    2019-08-01    abebooks
  purchase_date         sku  item_price ship_country sale_source
0    2018-12-30  R160155906       48.80      Belgium      amazon
1    2019-01-02  RO40224112       23.90      Belgium      amazon
2    2019-01-02  RO40224111       23.90      Belgium      amazon
3    2019-01-03  R150229289       19.95      Belgium      amazon
4    2019-01-03  RO30038810       23.90      Belgium      amazon
   item_price purchase_date         sku   ship_country sale_source
0        16.0    2018-12-01  R160072377  United States        ebay
1        16.0    2018-12-13  R150181333  United States        ebay
2        20.0    2018-12-13  ROD0053606  United States        ebay
3        25.0    2018-12-14  R260129997  United States        ebay
4        16.0    2018-12-14  R150064126  United States        ebay
  purchase_date  item_price         sku ship_country sale_source
0    2018-12-18       14.90  RO20154336       France        fnac
1    2018-12-20       39.80  R200041391       France        fnac
2    2018-12-21       25.80  R300023439       France        fnac
3    2018-12-29       45.80  R200042407       France        fnac
4    2019-01-02       16.95  RO90075913       France        fnac
  purchase_date         sku  item_price ship_country sale_source
0    2019-01-01  R130001251       10.95       France     lelivre
1    2019-01-01  R130004489       14.90       France     lelivre
2    2019-01-01  R130011303       14.90       France     lelivre
3    2019-01-01  R200001802       49.50       France     lelivre
4    2019-01-02  R300231701       19.80       France     lelivre
  purchase_date  item_price         sku   sale_source
0    2018-12-31       16.95  ROD0138137  leslibraires
1    2018-12-31       19.80  R160184541  leslibraires
2    2019-01-03       29.80  R320095702  leslibraires
3    2019-01-02       30.90  R200074925  leslibraires
4    2019-01-04       24.90  RO60137276  leslibraires
  purchase_date         sku  item_price sale_source
0    2019-01-31  RO80152141        25.8     rakuten
1    2019-01-31  RO40195713        35.8     rakuten
2    2019-01-31  R160208720        20.9     rakuten
3    2019-01-31  RO80083893       105.0     rakuten
4    2019-01-30  RO60112192        35.8     rakuten

In [28]:
df_full_raw = pd.concat([df_abebooks,df_amazon,df_ebay,df_fnac,df_lelivre,df_leslibraires,df_rakuten])

In [29]:
df_full_raw.dtypes

sku               object
item_price       float64
purchase_date     object
sale_source       object
ship_country      object
dtype: object

In [30]:
df_full_raw.shape

(16870, 5)

In [31]:
df_full_raw.head()

          sku  item_price purchase_date sale_source ship_country
0  R240146799        45.8    2019-08-01    abebooks          NaN
1  RO30312733        35.8    2019-08-01    abebooks          NaN
2  R110487848        30.9    2019-08-01    abebooks          NaN
3  RO80209687        55.5    2019-08-01    abebooks          NaN
4  RO40124703        25.8    2019-08-01    abebooks          NaN

In [32]:
df_full_raw.describe(include='all')

               sku    item_price purchase_date sale_source ship_country
count        16870  16868.000000         16870       16870        11155
unique       16527           NaN           419           7           71
top     R160189365           NaN    2019-02-17      amazon       France
freq             6           NaN           135        5126         7993
mean           NaN     36.680337           NaN         NaN          NaN
std            NaN     36.791420           NaN         NaN          NaN
min            NaN   -155.000000           NaN         NaN          NaN
25%            NaN     20.900000           NaN         NaN          NaN
50%            NaN     29.800000           NaN         NaN          NaN
75%            NaN     39.800000           NaN         NaN          NaN
max            NaN   1808.000000           NaN         NaN          NaN

In [33]:
# Choix de la période
df_full_raw = df_full_raw[df_full_raw["purchase_date"] > "2018-12-31"]
df_full_raw = df_full_raw[df_full_raw["purchase_date"] < "2019-09-01"]
# Suppression des remboursement
df_full_raw = df_full_raw[df_full_raw["item_price"] > 0]

In [34]:
df_full_raw.shape

(12856, 5)

In [35]:
df_full_raw.groupby("sale_source").count()

               sku  item_price  purchase_date  ship_country
sale_source
abebooks      3617        3617           3617             0
amazon        3006        3006           3006          3006
ebay          1763        1763           1763          1763
fnac           335         335            335           335
lelivre       2064        2064           2064          2064
leslibraires   290         290            290             0
rakuten       1781        1781           1781             0

----

# B/ Ajout d'informations complémentaires

## Connexion à la base locale pour réupérér le dewey, creation date et printing year

In [36]:
try:
    connection = mysql.connector.connect(host='localhost',
                                         database='db_lelivre_pro',
                                         user='localscript',
                                         password='GY9x9xLyaJA8CaqQMG6S',
                                         port='3308')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if (connection.is_connected()):
        ### Dataframe 1
        var_sql = "SELECT ref as sku, creationdate as creation_date, type as dewey, printingyear as printing_year, ean, isbn, titre FROM db_lelivre_pro.livresv2"
        df_info = pd.read_sql(var_sql, connection)
        
        print("Dataframe constitué")
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL Server version  8.0.18
You're connected to database:  ('db_lelivre_pro',)
Dataframe constitué
MySQL connection is closed

In [37]:
df_full = df_full_raw.merge(df_info, on="sku")
df_full.shape

(12856, 11)

In [38]:
df_full

,sku,item_price,purchase_date,sale_source,ship_country,creation_date,dewey,printing_year,ean,isbn,titre
0,R240146799,45.80,2019-08-01,abebooks,NaN,20190712.0,840.00,1955.0,,,La défense accuse
1,RO30312733,35.80,2019-08-01,abebooks,NaN,20190725.0,340.00,1974.0,,,"Les défendre tous (Collection ""Vécu"")"
2,R110487848,30.90,2019-08-01,abebooks,NaN,20190613.0,70.00,1911.0,,,L'action française n° 248 - La République et l...
3,RO80209687,55.50,2019-08-01,abebooks,NaN,20181219.0,750.00,2006.0,9782848331683,2848331682,Henri Barnoin 1882-1940 -
4,RO40124703,25.80,2019-08-01,abebooks,NaN,20090107.0,500.00,1994.0,9782036518117,2036518117,"MA PREMIERE ENCYCLOPEDIE, LA SCIENCE"
...,...,...,...,...,...,...,...,...,...,...,...
12851,RO40182424,30.90,2019-08-05,rakuten,NaN,20110303.0,966.00,1985.0,9789232023483,9232023482,"GOREE, ILE MEMOIRE"
12852,RO50002553,35.80,2019-08-05,rakuten,NaN,20060726.0,780.26,0.0,,,DAKAR
12853,R110310021,30.90,2019-08-05,rakuten,NaN,20180410.0,910.00,1956.0,,,"CONNAISSANCE DU MONDE N° 7 - Gorée, l'ile rose..."
12854,R240101670,105.00,2019-08-02,rakuten,NaN,20150925.0,70.49,1981.0,,,ASSOCIATION DES AMIS D'ALAIN - ALAIN - BULLETI...
12855,RO80079856,16.95,2019-08-19,rakuten,NaN,20091117.0,270.00,0.0,,,La Cathédrale de Saint-Paul Trois-Châteaux.

---

# C/ Transformation des variables

In [39]:
df_full.dtypes

sku               object
item_price       float64
purchase_date     object
sale_source       object
ship_country      object
creation_date    float64
dewey            float64
printing_year    float64
ean               object
isbn              object
titre             object
dtype: object

## Epoque

In [40]:
df_full["printing_year"] = df_full["printing_year"].astype(int)
# Suppression des dates incohérentes
df_full = df_full[df_full["printing_year"] > 1600]
df_full = df_full[df_full["printing_year"] < 2020]
df_full

,sku,item_price,purchase_date,sale_source,ship_country,creation_date,dewey,printing_year,ean,isbn,titre
0,R240146799,45.8,2019-08-01,abebooks,NaN,20190712.0,840.00,1955,,,La défense accuse
1,RO30312733,35.8,2019-08-01,abebooks,NaN,20190725.0,340.00,1974,,,"Les défendre tous (Collection ""Vécu"")"
2,R110487848,30.9,2019-08-01,abebooks,NaN,20190613.0,70.00,1911,,,L'action française n° 248 - La République et l...
3,RO80209687,55.5,2019-08-01,abebooks,NaN,20181219.0,750.00,2006,9782848331683,2848331682,Henri Barnoin 1882-1940 -
4,RO40124703,25.8,2019-08-01,abebooks,NaN,20090107.0,500.00,1994,9782036518117,2036518117,"MA PREMIERE ENCYCLOPEDIE, LA SCIENCE"
...,...,...,...,...,...,...,...,...,...,...,...
12849,RO60138931,30.9,2019-08-06,rakuten,NaN,20180307.0,420.00,1992,9780807612774,0807612774,"THE MEDIEVAL HEALTH HANDBOOK, TACUINUM SANITATIS"
12850,R240135678,45.8,2019-08-07,rakuten,NaN,20180117.0,320.00,1970,,,LA QUESTION REVOLUTIONNAIRE L'HUMANISPHERE A B...
12851,RO40182424,30.9,2019-08-05,rakuten,NaN,20110303.0,966.00,1985,9789232023483,9232023482,"GOREE, ILE MEMOIRE"
12853,R110310021,30.9,2019-08-05,rakuten,NaN,20180410.0,910.00,1956,,,"CONNAISSANCE DU MONDE N° 7 - Gorée, l'ile rose..."
12854,R240101670,105.0,2019-08-02,rakuten,NaN,20150925.0,70.49,1981,,,ASSOCIATION DES AMIS D'ALAIN - ALAIN - BULLETI...

In [41]:
df_full["century"] = 0
df_full["century"][df_full["printing_year"].astype(str).str.slice(0,2) == "16"] = "XVIIe"
df_full["century"][df_full["printing_year"].astype(str).str.slice(0,2) == "17"] = "XVIIIe"
df_full["century"][df_full["printing_year"].astype(str).str.slice(0,2) == "18"] = "XIXe"
df_full["century"][df_full["printing_year"].astype(str).str.slice(0,2) == "19"] = "XXe"
df_full["century"][df_full["printing_year"].astype(str).str.slice(0,2) == "20"] = "XXIe"
df_full

,sku,item_price,purchase_date,sale_source,ship_country,creation_date,dewey,printing_year,ean,isbn,titre,century
0,R240146799,45.8,2019-08-01,abebooks,NaN,20190712.0,840.00,1955,,,La défense accuse,XXe
1,RO30312733,35.8,2019-08-01,abebooks,NaN,20190725.0,340.00,1974,,,"Les défendre tous (Collection ""Vécu"")",XXe
2,R110487848,30.9,2019-08-01,abebooks,NaN,20190613.0,70.00,1911,,,L'action française n° 248 - La République et l...,XXe
3,RO80209687,55.5,2019-08-01,abebooks,NaN,20181219.0,750.00,2006,9782848331683,2848331682,Henri Barnoin 1882-1940 -,XXIe
4,RO40124703,25.8,2019-08-01,abebooks,NaN,20090107.0,500.00,1994,9782036518117,2036518117,"MA PREMIERE ENCYCLOPEDIE, LA SCIENCE",XXe
...,...,...,...,...,...,...,...,...,...,...,...,...
12849,RO60138931,30.9,2019-08-06,rakuten,NaN,20180307.0,420.00,1992,9780807612774,0807612774,"THE MEDIEVAL HEALTH HANDBOOK, TACUINUM SANITATIS",XXe
12850,R240135678,45.8,2019-08-07,rakuten,NaN,20180117.0,320.00,1970,,,LA QUESTION REVOLUTIONNAIRE L'HUMANISPHERE A B...,XXe
12851,RO40182424,30.9,2019-08-05,rakuten,NaN,20110303.0,966.00,1985,9789232023483,9232023482,"GOREE, ILE MEMOIRE",XXe
12853,R110310021,30.9,2019-08-05,rakuten,NaN,20180410.0,910.00,1956,,,"CONNAISSANCE DU MONDE N° 7 - Gorée, l'ile rose...",XXe
12854,R240101670,105.0,2019-08-02,rakuten,NaN,20150925.0,70.49,1981,,,ASSOCIATION DES AMIS D'ALAIN - ALAIN - BULLETI...,XXe

## Thématique

In [42]:
df_full = df_full[df_full["dewey"] < 1000]
df_full["dewey_class"] = ((df_full["dewey"] / 100).apply(np.floor) * 100).astype(int).astype(str)
df_full["dewey"] = df_full["dewey"].astype(str)

In [43]:
df_dewey = pd.read_csv("C:\Adrian - GDrive\Professionnel\Formation\Informatique - Digital\Data University\Projet certification\src\dewey_class.csv")
df_dewey["dewey_class"] = df_dewey["dewey_class"].astype(str)
df_dewey.dtypes

dewey_class          object
label_dewey_class    object
dtype: object

In [44]:
df_full = df_full.merge(df_dewey)

## Délai de rétention

In [45]:
df_full["creation_date"] = pd.to_datetime(df_full["creation_date"].astype(str).str.slice(0,8), format="%Y%m%d")
df_full["purchase_date"] = pd.to_datetime(df_full["purchase_date"], format="%Y-%m-%d")

In [46]:
df_full["retention_delay_years"] = ((df_full["purchase_date"] - df_full["creation_date"]) / np.timedelta64(1,'Y'))
df_full = df_full[df_full["retention_delay_years"] > 0]

## Expédition : Région du monde

In [47]:
os.chdir("C:\Adrian - GDrive\Professionnel\Formation\Informatique - Digital\Data University\Projet certification\src")
df_region = pd.read_csv("countries of the world.csv")

In [48]:
df_region["Country"] = df_region["Country"].str.slice(0,-1)

In [49]:
df_full = df_full.merge(df_region, left_on='ship_country', right_on='Country', how='left')
df_full.shape

(11172, 35)

In [50]:
df_full = df_full.rename(columns={'Region': 'ship_world_region'})

In [51]:
df_full["ship_world_region"] = df_full["ship_world_region"].str.strip()
df_full["ship_world_region"] = df_full["ship_world_region"].str.replace(" ","_")

df_full["ship_world_region"][(df_full["ship_world_region"] != "WESTERN_EUROPE") & (df_full["ship_world_region"] != "NORTHERN_AMERICA") & ~df_full["ship_world_region"].isna()] = "REST_OF_THE_WORLD"

df_full["ship_world_region"][(df_full["ship_country"] == "France")] = "FRANCE"

In [52]:
df_full.describe(include='all')

,sku,item_price,purchase_date,sale_source,ship_country,creation_date,dewey,printing_year,ean,isbn,...,Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
count,11172,11172.000000,11172,11172,6203,11172,11172,11172.000000,11172,11172,...,6187,6192,6192,6192,5839,6192,6192,6192,6184,6184
unique,10973,NaN,243,7,57,3185,582,NaN,2080,2071,...,52,52,46,52,6,52,52,39,46,50
top,R160189365,NaN,2019-02-17 00:00:00,abebooks,France,2015-06-09 00:00:00,840.0,NaN,,,...,"586,4","33,53","2,07","64,4",4,"11,99","9,14","0,022","0,214","0,764"
freq,6,NaN,128,3155,4308,95,522,NaN,8972,9012,...,4308,4308,4308,4308,4308,4308,4308,4384,4308,4308
first,NaN,NaN,2019-01-01 00:00:00,NaN,NaN,2001-09-26 00:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2019-08-31 00:00:00,NaN,NaN,2019-08-27 00:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,38.086653,NaN,NaN,NaN,NaN,NaN,1958.192087,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,34.171392,NaN,NaN,NaN,NaN,NaN,36.977477,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,6.240000,NaN,NaN,NaN,NaN,NaN,1645.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,20.900000,NaN,NaN,NaN,NaN,NaN,1941.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,30.900000,NaN,NaN,NaN,NaN,NaN,1966.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,45.800000,NaN,NaN,NaN,NaN,NaN,1983.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,1005.000000,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Nettoyage du dataset

In [53]:
df_full = df_full.drop(columns=["purchase_date", "creation_date", "dewey", 'Country', 'Population', 'Area (sq. mi.)', 'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)', 'Net migration', 'Infant mortality (per 1000 births)', 'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)', 'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate', 'Agriculture', 'Industry', 'Service'])
df_full

,sku,item_price,sale_source,ship_country,printing_year,ean,isbn,titre,century,dewey_class,label_dewey_class,retention_delay_years,ship_world_region
0,R240146799,45.80,abebooks,NaN,1955,,,La défense accuse,XXe,800,800-Littérature,0.054758,NaN
1,R240115614,30.90,abebooks,NaN,1928,,,LES OEUVRES COMPLETES EMILE ZOLA - LA CONFESSI...,XXe,800,800-Littérature,3.244420,NaN
2,R150216443,30.90,abebooks,NaN,1986,9782080648884,2080648888,LES CENDRES BRULANTES,XXe,800,800-Littérature,2.633867,NaN
3,R320110344,30.90,abebooks,NaN,1929,,,FABLES - PRECEDEES D'UNE NOTICE BIOGRAPHIQUE E...,XXe,800,800-Littérature,1.111590,NaN
4,R160131648,65.25,abebooks,NaN,1879,,,CHOIX DE FABLES DE J. DE LA FONTAINE.,XIXe,800,800-Littérature,7.282833,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11167,RO60029238,35.80,rakuten,NaN,1957,,,EXPERTISE D'EVALUATION IMMOBILIERE,XXe,600,600-Technologie,12.835308,NaN
11168,R110108053,25.80,rakuten,NaN,1978,,,L'ENCYCLOPEDIE DU JARDINAGE,XXe,600,600-Technologie,1.900107,NaN
11169,RO30116455,16.95,rakuten,NaN,1963,,,"MADELEINE, QUELQUES RECETTES FINES RECETTES SP...",XXe,600,600-Technologie,7.072014,NaN
11170,R320049974,16.95,rakuten,NaN,1987,,,PLAQUETTE PUBLICITAIRE DU VEHICULE PEUGEOT 405 .,XXe,600,600-Technologie,5.240354,NaN
11171,RO30058208,25.80,rakuten,NaN,1976,,,J 7,XXe,600,600-Technologie,10.847588,NaN

## Exportation

In [54]:
os.chdir("C:\Adrian - GDrive\Professionnel\Formation\Informatique - Digital\Data University\Projet certification\csv")
df_full.to_csv("3-sales.csv", index=False)

---

# Statistiques descriptives

In [55]:
df_full.describe()

         item_price  printing_year  retention_delay_years
count  11172.000000   11172.000000           11172.000000
mean      38.086653    1958.192087               5.332943
std       34.171392      36.977477               3.840274
min        6.240000    1645.000000               0.002738
25%       20.900000    1941.000000               2.080809
50%       30.900000    1966.000000               4.591470
75%       45.800000    1983.000000               7.833836
max     1005.000000    2017.000000              17.831988

In [56]:
df_full.sort_values(by="item_price", ascending=False).head(10)

,sku,item_price,sale_source,ship_country,printing_year,ean,isbn,titre,century,dewey_class,label_dewey_class,retention_delay_years,ship_world_region
5288,RO40111821,1005.0,abebooks,NaN,1856,,,"TABLEAUX, STATUES, BAS-RELIEFS ET CAMEES DE LA...",XIXe,700,700-Arts/Loisirs,10.825684,NaN
6743,R260227837,905.0,abebooks,NaN,1873,,,LES SAINT EVANGILES - 2 TOMES EN 2 VOLUMES (TO...,XIXe,200,200-Religions,1.440139,NaN
4584,R240066654,705.0,ebay,United States,1993,9782869412040,2869412045,BLEUETTE LA PETITE FILLE MODELE DE LA COLLECTI...,XXe,0,000-Généralités,4.920019,NORTHERN_AMERICA
5428,RO30104851,605.0,abebooks,NaN,1882,,,L'ART - REVUE HEBDOMADAIRE ILLUSTREE 4 VOLUMES...,XIXe,700,700-Arts/Loisirs,8.583338,NaN
10042,R160112358,605.0,abebooks,NaN,1755,,,TELLIAMED OU ENTRETIENS D'UN PHILOSOPHE INDIEN...,XVIIIe,100,100-Philo/Psycho,8.931053,NaN
3650,R240103299,599.0,lelivre,France,1875,,,ENQUETE PARLEMENTAIRE SUR LES ACTES DU GOUVERN...,XIXe,300,300-Sciences sociales,3.411432,FRANCE
9148,ROD0108372,508.0,amazon,United Kingdom,1896,,,HISTOIRE DES PRINCES DE CONDE PENDANT LES XVI ...,XIXe,900,900-Histoire/Géo,3.102049,WESTERN_EUROPE
5298,RO80160040,506.0,abebooks,NaN,1855,,,Completa Collezione delle Opere Classiche nell...,XIXe,700,700-Arts/Loisirs,4.936446,NaN
3024,RO80078941,506.0,abebooks,NaN,1950,,,"Inauguration du M / S Cargo ""Nicole Schiaffino...",XXe,300,300-Sciences sociales,9.286981,NaN
2024,R240086994,505.0,ebay,Switzerland,1942,,,COMMENT LA LITTERATURE EST ELLE POSSIBLE ?.,XXe,800,800-Littérature,4.043889,WESTERN_EUROPE

In [57]:
df_full.sort_values(by="item_price", ascending=False)

,sku,item_price,sale_source,ship_country,printing_year,ean,isbn,titre,century,dewey_class,label_dewey_class,retention_delay_years,ship_world_region
5288,RO40111821,1005.00,abebooks,NaN,1856,,,"TABLEAUX, STATUES, BAS-RELIEFS ET CAMEES DE LA...",XIXe,700,700-Arts/Loisirs,10.825684,NaN
6743,R260227837,905.00,abebooks,NaN,1873,,,LES SAINT EVANGILES - 2 TOMES EN 2 VOLUMES (TO...,XIXe,200,200-Religions,1.440139,NaN
4584,R240066654,705.00,ebay,United States,1993,9782869412040,2869412045,BLEUETTE LA PETITE FILLE MODELE DE LA COLLECTI...,XXe,0,000-Généralités,4.920019,NORTHERN_AMERICA
5428,RO30104851,605.00,abebooks,NaN,1882,,,L'ART - REVUE HEBDOMADAIRE ILLUSTREE 4 VOLUMES...,XIXe,700,700-Arts/Loisirs,8.583338,NaN
10042,R160112358,605.00,abebooks,NaN,1755,,,TELLIAMED OU ENTRETIENS D'UN PHILOSOPHE INDIEN...,XVIIIe,100,100-Philo/Psycho,8.931053,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
843,RO90075629,7.00,lelivre,France,1968,9782253005438,2253005436,ANTHOLOGIE DE LA POESIE FRANCAISE,XXe,800,800-Littérature,11.469092,FRANCE
4938,ROD0076072,7.00,lelivre,France,1977,,,METAL HURLANT N°23,XXe,0,000-Généralités,9.347215,FRANCE
3753,RO60132147,7.00,leslibraires,NaN,2007,9782290004067,2290004065,"PAROLES DE FEMMES, LA LIBERTE DU REGARD",XXIe,300,300-Sciences sociales,1.171824,NaN
2408,RO90073530,7.00,lelivre,France,1962,9782253010777,2253010774,MOIRA,XXe,800,800-Littérature,11.701815,FRANCE
2609,RO80214481,6.24,rakuten,NaN,1990,9782702118658,2702118658,Alois Brunner - La haine irréductible,XXe,800,800-Littérature,0.005476,NaN

In [58]:
df_full[["sku","century"]].groupby("century").count().sort_values(by="sku", ascending=False)

          sku
century
XXe      9546
XXIe      803
XIXe      783
XVIIIe     35
XVIIe       5

In [59]:
df_full["isbn"][df_full["isbn"] != ""].count()

2160

In [60]:
df_full["ean"][df_full["ean"] != ""].count()

2200

In [61]:
df_full[(df_full["ean"] != "") & (df_full["isbn"] != "")]

,sku,item_price,sale_source,ship_country,printing_year,ean,isbn,titre,century,dewey_class,label_dewey_class,retention_delay_years,ship_world_region
2,R150216443,30.90,abebooks,NaN,1986,9782080648884,2080648888,LES CENDRES BRULANTES,XXe,800,800-Littérature,2.633867,NaN
7,R200040825,30.90,abebooks,NaN,2009,9782895404408,2895404402,UNE GARDIENNE POUR ETIENNE !,XXIe,800,800-Littérature,4.380651,NaN
11,RO20208818,35.80,abebooks,NaN,1975,9782857040064,2857040067,ONASSIS MON AMOUR...,XXe,800,800-Littérature,1.637268,NaN
17,RO30307305,20.90,abebooks,NaN,2009,9782738224705,2738224709,Le monde selon K.,XXIe,800,800-Littérature,0.564009,NaN
18,R150112039,25.80,abebooks,NaN,1987,9782070530274,2070530272,COLLECTION DECOUVERTES GALLIMARD N° 13. LES VI...,XXe,800,800-Littérature,8.071350,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11112,RO90125761,16.95,rakuten,NaN,1995,9782732842219,2732842214,MODELES DE CONTRATS TYPES POUR UNE PME - PMI,XXe,600,600-Technologie,10.264413,NaN
11115,R110218215,35.80,rakuten,NaN,1986,9782708986114,2708986112,LES PIONNIERS DE L'AVIATION COMMERCIALE I. LES...,XXe,600,600-Technologie,1.158135,NaN
11121,RO40262004,55.50,rakuten,NaN,1983,9782717807004,2717807004,ESPACE ET PSYCHOPATHOLOGIE (Sommaire: Introduc...,XXe,600,600-Technologie,3.477142,NaN
11151,RO40129343,25.80,rakuten,NaN,1975,9782228540100,2228540102,LES FEMMES ET LA FOLIE,XXe,600,600-Technologie,10.406785,NaN
11152,R200043009,30.90,rakuten,NaN,2002,9782906962132,2906962139,FLEURS A BRODER 100 TRANSFERTS,XXIe,600,600-Technologie,4.161619,NaN