# Merge des fichiers sales et catalog

In [1]:
import pandas as pd
import os

In [2]:
os.chdir("C:\Adrian - GDrive\Professionnel\Formation\Informatique - Digital\Data University\Projet certification\csv")

df_sales = pd.read_csv("3-sales.csv")
df_catalog_isbn = pd.read_csv("4-catalog_rakuten_isbn.csv")
df_catalog_ean = pd.read_csv("4-catalog_rakuten_ean.csv")

In [3]:
df_catalog_ean.shape

(2160, 3)

In [4]:
df_catalog_isbn.shape

(2160, 3)

In [5]:
df_catalog_ean[["ean","value"]].groupby("value").count().sort_values(by="ean", ascending=False).head(1)

       ean
value
None   520

In [6]:
df_catalog_isbn[["isbn","value"]].groupby("value").count().sort_values(by="isbn", ascending=False).head(1)

       isbn
value
None    704

In [7]:
df_catalog = df_catalog_ean.merge(df_catalog_isbn, left_index=True, right_index=True)

In [8]:
df_catalog.shape

(2160, 6)

In [9]:
df_catalog["value_rakuten"] = "None"
df_catalog["quantity_rakuten"] = "None"

df_catalog["value_rakuten"][df_catalog["value_y"] != "None"] = df_catalog["value_y"]
df_catalog["quantity_rakuten"][df_catalog["value_y"] != "None"] = df_catalog["quantity_y"]

df_catalog["value_rakuten"][df_catalog["value_x"] != "None"] = df_catalog["value_x"]
df_catalog["quantity_rakuten"][df_catalog["value_x"] != "None"] = df_catalog["quantity_x"]

df_catalog.head(40)

,ean,value_x,quantity_x,isbn,value_y,quantity_y,value_rakuten,quantity_rakuten
0,9782848331683,None,0,2848331682,None,0,None,None
1,9782036518117,0.9,18,2036518117,0.9,18,0.9,18
2,9782218926099,2.9,8,2218926091,None,None,2.9,8
3,9782080648884,9.89,8,2080648888,9.89,8,9.89,8
4,9780140707182,2.93,5,0140707182,None,None,2.93,5
5,9782895404408,3.09,3,2895404402,None,None,3.09,3
6,9782857040064,2.57,8,2857040067,2.57,8,2.57,8
7,9783423030137,None,None,3423030135,None,0,None,None
8,9782080642912,0.9,40,208064291X,0.9,40,0.9,40
9,9782020029889,32.45,1,202002988X,32.45,1,32.45,1
10,9782020029889,32.45,1,202002988X,32.45,1,32.45,1
11,9782716711807,None,None,2716711801,None,0,None,None
12,9782716708340,None,0,2716708347,None,0,None,None
13,9782738224705,7.0,4,2738224709,None,None,7.0,4
14,9782070530274,4.98,39,2070530272,4.98,39,4.98,39
15,9782868820082,23.78,2,2868820085,23.78,2,23.78,2
16,9782890397927,8.27,2,2890397920,8.27,2,8.27,2
17,9782864321064,6.43,7,2864321068,6.43,7,6.43,7
18,9788881830022,None,None,8881830027,None,None,None,None
19,9782856202913,132.24,1,2856202918,10.38,3,132.24,1
20,9782724249217,1.5,6,2724249216,1.5,6,1.5,6
21,9782895121886,None,None,2895121885,None,0,None,None
22,9782020000413,3.05,8,2020000415,3.05,8,3.05,8
23,9782724289831,2.98,8,2724289838,2.98,8,2.98,8
24,9782222033028,None,None,2222033020,None,0,None,None
25,9782909031156,9.9,1,2909031152,9.9,1,9.9,1
26,9782222038542,55.5,3,2222038545,55.5,3,55.5,3
27,9782222038542,55.5,3,2222038545,55.5,3,55.5,3
28,9780747577119,15.36,1,0747577110,None,None,15.36,1
29,9782844450272,14.0,5,284445027X,14.0,5,14.0,5
30,9780330305372,None,0,0330305379,None,None,None,None
31,9782234045644,24.0,2,2234045649,24.0,2,24.0,2
32,9782744140518,5.8,3,2744140511,5.8,3,5.8,3
33,9782856691090,4.15,1,2856691099,4.15,1,4.15,1
34,9782080643178,None,None,2080643177,11.98,4,11.98,4
35,9782080643178,None,None,2080643177,11.98,4,11.98,4
36,9782907017022,22.5,2,2907017020,22.5,2,22.5,2
37,9782262000783,0.9,10,2262000786,0.9,10,0.9,10
38,9782286468880,None,None,2286468885,12.99,7,12.99,7
39,9782738201560,0.9,4,2738201563,0.9,4,0.9,4

In [10]:
df_catalog[["isbn","value_rakuten"]].groupby("value_rakuten").count().sort_values(by="isbn", ascending=False).head(1)

               isbn
value_rakuten
None            409

In [11]:
df_catalog = df_catalog.drop(columns=["value_x","quantity_x","value_y","quantity_y"])
df_catalog

                ean        isbn value_rakuten quantity_rakuten
0     9782848331683  2848331682          None             None
1     9782036518117  2036518117           0.9               18
2     9782218926099  2218926091           2.9                8
3     9782080648884  2080648888          9.89                8
4     9780140707182  0140707182          2.93                5
...             ...         ...           ...              ...
2155  9780708819197  0708819192          None             None
2156  9782011250285  2011250285          5.74                4
2157  9782730404822  2730404821         14.95                2
2158  9780807612774  0807612774          None             None
2159  9789232023483  9232023482          12.0                2

[2160 rows x 4 columns]

---

In [12]:
df_sales["ean"] = df_sales["ean"].astype(str).str.slice(0,-2)

In [13]:
df_sales.dtypes

sku                       object
item_price               float64
sale_source               object
ship_country              object
printing_year              int64
ean                       object
isbn                      object
titre                     object
century                   object
dewey_class                int64
label_dewey_class         object
retention_delay_years    float64
ship_world_region         object
dtype: object

In [14]:
df_tmp = df_sales[df_sales["isbn"].notna()].reset_index().merge(df_catalog, left_index=True, right_index=True)

In [15]:
df_tmp.columns

Index(['index', 'sku', 'item_price', 'sale_source', 'ship_country',
       'printing_year', 'ean_x', 'isbn_x', 'titre', 'century', 'dewey_class',
       'label_dewey_class', 'retention_delay_years', 'ship_world_region',
       'ean_y', 'isbn_y', 'value_rakuten', 'quantity_rakuten'],
      dtype='object')

In [16]:
df_tmp = df_tmp.drop(columns=(['sku', 'item_price', 'sale_source', 'ship_country',
       'printing_year', 'titre',  'ean_x', 'isbn_x', 'century', 'dewey_class',
       'retention_delay_years', 'ship_world_region', 'ean_y', 'isbn_y']))

In [17]:
df = df_sales.merge(df_tmp, left_index=True, right_on="index", how='left')

In [18]:
df

,sku,item_price,sale_source,ship_country,printing_year,ean,isbn,titre,century,dewey_class,label_dewey_class_x,retention_delay_years,ship_world_region,index,label_dewey_class_y,value_rakuten,quantity_rakuten
NaN,R240146799,45.80,abebooks,NaN,1955,n,NaN,La défense accuse,XXe,800,800-Littérature,0.054758,NaN,0,NaN,NaN,NaN
NaN,R240115614,30.90,abebooks,NaN,1928,n,NaN,LES OEUVRES COMPLETES EMILE ZOLA - LA CONFESSI...,XXe,800,800-Littérature,3.244420,NaN,1,NaN,NaN,NaN
0.0,R150216443,30.90,abebooks,NaN,1986,9782080648884,2080648888,LES CENDRES BRULANTES,XXe,800,800-Littérature,2.633867,NaN,2,800-Littérature,None,None
NaN,R320110344,30.90,abebooks,NaN,1929,n,NaN,FABLES - PRECEDEES D'UNE NOTICE BIOGRAPHIQUE E...,XXe,800,800-Littérature,1.111590,NaN,3,NaN,NaN,NaN
NaN,R160131648,65.25,abebooks,NaN,1879,n,NaN,CHOIX DE FABLES DE J. DE LA FONTAINE.,XIXe,800,800-Littérature,7.282833,NaN,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,RO60029238,35.80,rakuten,NaN,1957,n,NaN,EXPERTISE D'EVALUATION IMMOBILIERE,XXe,600,600-Technologie,12.835308,NaN,11167,NaN,NaN,NaN
NaN,R110108053,25.80,rakuten,NaN,1978,n,NaN,L'ENCYCLOPEDIE DU JARDINAGE,XXe,600,600-Technologie,1.900107,NaN,11168,NaN,NaN,NaN
NaN,RO30116455,16.95,rakuten,NaN,1963,n,NaN,"MADELEINE, QUELQUES RECETTES FINES RECETTES SP...",XXe,600,600-Technologie,7.072014,NaN,11169,NaN,NaN,NaN
NaN,R320049974,16.95,rakuten,NaN,1987,n,NaN,PLAQUETTE PUBLICITAIRE DU VEHICULE PEUGEOT 405 .,XXe,600,600-Technologie,5.240354,NaN,11170,NaN,NaN,NaN
NaN,RO30058208,25.80,rakuten,NaN,1976,n,NaN,J 7,XXe,600,600-Technologie,10.847588,NaN,11171,NaN,NaN,NaN

---

In [19]:
df.sort_values(by="item_price", ascending=False)

,sku,item_price,sale_source,ship_country,printing_year,ean,isbn,titre,century,dewey_class,label_dewey_class_x,retention_delay_years,ship_world_region,index,label_dewey_class_y,value_rakuten,quantity_rakuten
NaN,RO40111821,1005.00,abebooks,NaN,1856,n,NaN,"TABLEAUX, STATUES, BAS-RELIEFS ET CAMEES DE LA...",XIXe,700,700-Arts/Loisirs,10.825684,NaN,5288,NaN,NaN,NaN
NaN,R260227837,905.00,abebooks,NaN,1873,n,NaN,LES SAINT EVANGILES - 2 TOMES EN 2 VOLUMES (TO...,XIXe,200,200-Religions,1.440139,NaN,6743,NaN,NaN,NaN
1000.0,R240066654,705.00,ebay,United States,1993,9782869412040,2869412045,BLEUETTE LA PETITE FILLE MODELE DE LA COLLECTI...,XXe,0,000-Généralités,4.920019,NORTHERN_AMERICA,4584,000-Généralités,None,None
NaN,RO30104851,605.00,abebooks,NaN,1882,n,NaN,L'ART - REVUE HEBDOMADAIRE ILLUSTREE 4 VOLUMES...,XIXe,700,700-Arts/Loisirs,8.583338,NaN,5428,NaN,NaN,NaN
NaN,R160112358,605.00,abebooks,NaN,1755,n,NaN,TELLIAMED OU ENTRETIENS D'UN PHILOSOPHE INDIEN...,XVIIIe,100,100-Philo/Psycho,8.931053,NaN,10042,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181.0,RO90075629,7.00,lelivre,France,1968,9782253005438,2253005436,ANTHOLOGIE DE LA POESIE FRANCAISE,XXe,800,800-Littérature,11.469092,FRANCE,843,800-Littérature,8.9,3
NaN,ROD0076072,7.00,lelivre,France,1977,n,NaN,METAL HURLANT N°23,XXe,0,000-Généralités,9.347215,FRANCE,4938,NaN,NaN,NaN
907.0,RO60132147,7.00,leslibraires,NaN,2007,9782290004067,2290004065,"PAROLES DE FEMMES, LA LIBERTE DU REGARD",XXIe,300,300-Sciences sociales,1.171824,NaN,3753,300-Sciences sociales,0.9,11
553.0,RO90073530,7.00,lelivre,France,1962,9782253010777,2253010774,MOIRA,XXe,800,800-Littérature,11.701815,FRANCE,2408,800-Littérature,3.0,12
673.0,RO80214481,6.24,rakuten,NaN,1990,9782702118658,2702118658,Alois Brunner - La haine irréductible,XXe,800,800-Littérature,0.005476,NaN,2609,800-Littérature,None,None

In [20]:
df["url_photo"] = "https://www.le-livre.fr/photos/" + df["sku"].str.slice(0,3) + "/" + df["sku"] + ".jpg"

In [21]:
df.to_csv("5-dataset.csv", index=False)

---

# Analyse

In [22]:
df.dtypes

sku                       object
item_price               float64
sale_source               object
ship_country              object
printing_year              int64
ean                       object
isbn                      object
titre                     object
century                   object
dewey_class                int64
label_dewey_class_x       object
retention_delay_years    float64
ship_world_region         object
index                      int64
label_dewey_class_y       object
value_rakuten             object
quantity_rakuten          object
url_photo                 object
dtype: object